.lab-header {
    position: relative;
    display: flex;
    gap: 20%;
    justify-content: center;
}

.sensor-wrapper {
    margin: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    height: auto;
}

.sensor-container {
    border-style: solid;
    border-radius: 5%;
    width: 250px;
    height: 175px;
    padding-left: 10px;
}

.sensor-wrapper button {
    border-style: solid;
    border-radius: 5%;
    width: 267px;
    height: 179px;
    cursor: pointer;
    font-size: 50px;
    justify-content: center;
}
.sensor-wrapper button:hover {
    background-color: black;
    color: white;
}
